In [1]:
import pandas as pd

In [5]:
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv')
Data

   Order ID  Order Date CustomerName             State                City
0   B-26055  10-03-2018    Harivansh     Uttar Pradesh             Mathura
1   B-25993  03-02-2018       Madhav             Delhi               Delhi
2       NaN  24-01-2018  Madan Mohan     Uttar Pradesh             Mathura
3       NaN  27-12-2018        Gopal       Maharashtra              Mumbai
4   B-25757  21-08-2018     Vishakha    Madhya Pradesh              Indore
5   B-25967  21-01-2018       Sudevi     Uttar Pradesh                 NaN
6   B-25955  16-01-2018        Shiva       Maharashtra                Pune
7   B-26093  27-03-2018       Sarita       Maharashtra                Pune
8   B-25798  01-10-2018       Shishu    Andhra Pradesh           Hyderabad
9   B-25602  01-04-2018          NaN       Maharashtra                Pune
10  B-25858  13-11-2018          NaN       Maharashtra              Mumbai
11  B-25969  21-01-2018          NaN           Gujarat               Surat
12  B-26099  30-03-2018       Bhishm       Maharashtra              Mumbai
13  B-25997  04-02-2018       Yogesh       Maharashtra                Pune
14  B-25881  25-11-2018       Lalita     Uttar Pradesh             Mathura
15  B-25761  25-08-2018       Madhav     Uttar Pradesh             Mathura
16      NaN  01-12-2018     Vishakha     Uttar Pradesh                 NaN
17  B-25823  18-10-2018          NaN       Maharashtra              Mumbai
18  B-25853  08-11-2018       Gaurav           Gujarat           Ahmedabad
19  B-25862  15-11-2018         Amol             Bihar               Patna
20  B-25830  26-10-2018       Aastha  Himachal Pradesh               Simla
21  B-25786  19-09-2018  Madan Mohan     Uttar Pradesh             Mathura
22  B-25686  11-06-2018        Pooja  Himachal Pradesh               Simla
23  B-26022  18-02-2018    Shrichand            Punjab          Chandigarh
24  B-26003  08-02-2018       Hitesh    Madhya Pradesh              Bhopal
25  B-25755  19-08-2018      Shourya           Kerala   Thiruvananthapuram
26  B-25902  10-12-2018     Ishpreet       Maharashtra              Mumbai
27  B-25935  04-01-2018       Sudhir          Nagaland              Kohima
28  B-25797  30-09-2018      Sauptik    Madhya Pradesh              Indore

In [6]:
# How to know all the columns name
Data.columns

Index(['Order ID', 'Order Date', 'CustomerName', 'State', 'City'], dtype='object')

In [7]:
#How to read some specific rows of the dataset
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv', nrows = 1)
Data

  Order ID  Order Date CustomerName          State     City
0  B-26055  10-03-2018    Harivansh  Uttar Pradesh  Mathura

In [8]:
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv', nrows = 6)
Data

  Order ID  Order Date CustomerName           State     City
0  B-26055  10-03-2018    Harivansh   Uttar Pradesh  Mathura
1  B-25993  03-02-2018       Madhav           Delhi    Delhi
2      NaN  24-01-2018  Madan Mohan   Uttar Pradesh  Mathura
3      NaN  27-12-2018        Gopal     Maharashtra   Mumbai
4  B-25757  21-08-2018     Vishakha  Madhya Pradesh   Indore
5  B-25967  21-01-2018       Sudevi   Uttar Pradesh      NaN

In [9]:
#How to read some specific columns of the dataset
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv', usecols = [2,3])
Data

   CustomerName             State
0     Harivansh     Uttar Pradesh
1        Madhav             Delhi
2   Madan Mohan     Uttar Pradesh
3         Gopal       Maharashtra
4      Vishakha    Madhya Pradesh
5        Sudevi     Uttar Pradesh
6         Shiva       Maharashtra
7        Sarita       Maharashtra
8        Shishu    Andhra Pradesh
9           NaN       Maharashtra
10          NaN       Maharashtra
11          NaN           Gujarat
12       Bhishm       Maharashtra
13       Yogesh       Maharashtra
14       Lalita     Uttar Pradesh
15       Madhav     Uttar Pradesh
16     Vishakha     Uttar Pradesh
17          NaN       Maharashtra
18       Gaurav           Gujarat
19         Amol             Bihar
20       Aastha  Himachal Pradesh
21  Madan Mohan     Uttar Pradesh
22        Pooja  Himachal Pradesh
23    Shrichand            Punjab
24       Hitesh    Madhya Pradesh
25      Shourya           Kerala
26     Ishpreet       Maharashtra
27       Sudhir          Nagaland
28      Sauptik    Madhya Pradesh

In [10]:
#How to Skip some specific rows of the dataset
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv', skiprows = [2,3])
Data

   Order ID  Order Date CustomerName             State                City
0   B-26055  10-03-2018    Harivansh     Uttar Pradesh             Mathura
1       NaN  27-12-2018        Gopal       Maharashtra              Mumbai
2   B-25757  21-08-2018     Vishakha    Madhya Pradesh              Indore
3   B-25967  21-01-2018       Sudevi     Uttar Pradesh                 NaN
4   B-25955  16-01-2018        Shiva       Maharashtra                Pune
5   B-26093  27-03-2018       Sarita       Maharashtra                Pune
6   B-25798  01-10-2018       Shishu    Andhra Pradesh           Hyderabad
7   B-25602  01-04-2018          NaN       Maharashtra                Pune
8   B-25858  13-11-2018          NaN       Maharashtra              Mumbai
9   B-25969  21-01-2018          NaN           Gujarat               Surat
10  B-26099  30-03-2018       Bhishm       Maharashtra              Mumbai
11  B-25997  04-02-2018       Yogesh       Maharashtra                Pune
12  B-25881  25-11-2018       Lalita     Uttar Pradesh             Mathura
13  B-25761  25-08-2018       Madhav     Uttar Pradesh             Mathura
14      NaN  01-12-2018     Vishakha     Uttar Pradesh                 NaN
15  B-25823  18-10-2018          NaN       Maharashtra              Mumbai
16  B-25853  08-11-2018       Gaurav           Gujarat           Ahmedabad
17  B-25862  15-11-2018         Amol             Bihar               Patna
18  B-25830  26-10-2018       Aastha  Himachal Pradesh               Simla
19  B-25786  19-09-2018  Madan Mohan     Uttar Pradesh             Mathura
20  B-25686  11-06-2018        Pooja  Himachal Pradesh               Simla
21  B-26022  18-02-2018    Shrichand            Punjab          Chandigarh
22  B-26003  08-02-2018       Hitesh    Madhya Pradesh              Bhopal
23  B-25755  19-08-2018      Shourya           Kerala   Thiruvananthapuram
24  B-25902  10-12-2018     Ishpreet       Maharashtra              Mumbai
25  B-25935  04-01-2018       Sudhir          Nagaland              Kohima
26  B-25797  30-09-2018      Sauptik    Madhya Pradesh              Indore

In [12]:
#How to make Order ID column as index column 
Data = pd.read_csv('C:\\Users\\user\\Desktop\\Assignment\\Orders.csv', index_col = 'Order ID')
Data

          Order Date CustomerName             State                City
Order ID
B-26055   10-03-2018    Harivansh     Uttar Pradesh             Mathura
B-25993   03-02-2018       Madhav             Delhi               Delhi
NaN       24-01-2018  Madan Mohan     Uttar Pradesh             Mathura
NaN       27-12-2018        Gopal       Maharashtra              Mumbai
B-25757   21-08-2018     Vishakha    Madhya Pradesh              Indore
B-25967   21-01-2018       Sudevi     Uttar Pradesh                 NaN
B-25955   16-01-2018        Shiva       Maharashtra                Pune
B-26093   27-03-2018       Sarita       Maharashtra                Pune
B-25798   01-10-2018       Shishu    Andhra Pradesh           Hyderabad
B-25602   01-04-2018          NaN       Maharashtra                Pune
B-25858   13-11-2018          NaN       Maharashtra              Mumbai
B-25969   21-01-2018          NaN           Gujarat               Surat
B-26099   30-03-2018       Bhishm       Maharashtra              Mumbai
B-25997   04-02-2018       Yogesh       Maharashtra                Pune
B-25881   25-11-2018       Lalita     Uttar Pradesh             Mathura
B-25761   25-08-2018       Madhav     Uttar Pradesh             Mathura
NaN       01-12-2018     Vishakha     Uttar Pradesh                 NaN
B-25823   18-10-2018          NaN       Maharashtra              Mumbai
B-25853   08-11-2018       Gaurav           Gujarat           Ahmedabad
B-25862   15-11-2018         Amol             Bihar               Patna
B-25830   26-10-2018       Aastha  Himachal Pradesh               Simla
B-25786   19-09-2018  Madan Mohan     Uttar Pradesh             Mathura
B-25686   11-06-2018        Pooja  Himachal Pradesh               Simla
B-26022   18-02-2018    Shrichand            Punjab          Chandigarh
B-26003   08-02-2018       Hitesh    Madhya Pradesh              Bhopal
B-25755   19-08-2018      Shourya           Kerala   Thiruvananthapuram
B-25902   10-12-2018     Ishpreet       Maharashtra              Mumbai
B-25935   04-01-2018       Sudhir          Nagaland              Kohima
B-25797   30-09-2018      Sauptik    Madhya Pradesh              Indore